/*HEADER*/

header{
  padding: 0 0 20px 50px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
  }
  
  nav img{
    margin-right: auto;
    width: 7%;
  }
  
  nav ul{ 
    padding: 0;
    list-style: none;
    margin: 0;     
  }
  
  nav li{  
    display:flex;
    margin: 0;         
  }
  
  .nav-links{
    border: 2px solid transparent;  
    padding: 4vw;
    text-decoration: none;
    color: black; 
    font-size: 1.2vw;     
  }
  
  .nav-links:hover{    
    border-top: 2px solid #0065FC;
    color: #0065FC;    
  } 
  

  /*title*/
 
  .wrapper h1{
    font-size: 1.5vw;
    font-weight: bold;
    margin: 0.7vw 0 0.5vw 0;
  }
  
  .wrapper p{
    margin: 0 0 2vw 0;
    font-size:1.1vw;
  }
  
  
  /* search form */
  
  .search-form{ 
    display: flex;
    margin-bottom: 1vw;    
  }
  
  .search-form i{
    padding: 1vw 1.2vw;
    background-color: #F2F2F2;
    border-radius: 10px 0 0 10px;     
  }
  
  .search-form input{
    display: flex;
    border: 1px solid #F2F2F2;
    padding-left: 1vw;
  }
  
  .search-form button{
    background-color: #0065FC;
    border-radius: 0 1vw 1vw 0;
    border: 1px solid #0065FC;
    padding-right: 1.8vw;
    color: #F2F2F2;
    font-weight: bold;
    padding: 0 1vw 0 1vw;
    cursor: pointer;
  }
  
  .search-form button:hover{
    transform: scale(1.01);
    background-color: blue;
  }
  
  .fa-solid.fa-magnifying-glass{
    display: none;
    
  }

  .fa-solid .fa-location-dot{
    font-size: 1vw;
  }
  
  .search-form input::placeholder{
    font-weight: bold;
    color: black;
  }
  
  .search-text{
    font-size: 1.2vw;
  }

  .search-form input{
    font-size: 1.2vw;
  }
  
  /* filters */
  
  .filters-section{
    display: flex;
    padding-top: 1vw;
    font-size: 1vw;
    flex-wrap: wrap;
  }
  
  .filters-section h2{
    font-size: 1.2vw;
    padding-top: 1vw;
    align-items: center;
  }
  
  .filters-list{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 2vw; 
  }
  
  .filters-button{
    border: 2px solid #F2F2F2;
    border-radius: 3vw 3.5vw 3.5vw 3vw;
    display: flex;
    align-items: center;    
  }
  
  .filters-button:hover{
    background-color:#F2F2F2;
    cursor: pointer;
    transform: scale(1.01);
  }
  
  .filters-list .fa-solid{
    background-color: #DEEBFF;
    color: #0065FC;
    border-radius: 50%;
    margin: -2px;
    width: 4vw;
    height: 4vw;
    display: flex;
    align-items: center;
    justify-content: center;   
  }
  
  .filters-list span{
    font-weight: bold;
    padding-left: 1vw;
    margin-right: 1vw;    
  }
  
  
  /*info*/
  
  .bubble-info{
    display: flex;
    align-items: baseline;
    gap: 0.5vw;
    padding-top:1vw;
  }

  .bubble-info span{
    font-size: 1.1vw;
  }
  
  .bubble-info .fa-solid{  
  color:#0065FC;
  border: 1px solid #F2F2F2;
  border-radius: 50%;
  padding: 0.2vw 0.4vw ;
  font-size: 70%;
  }


  @media screen and (max-width: 992px){
   
    header{
      padding: 0 3vw 2vw 3vw; 
    }
  }

  @media screen and (max-width: 768px){
  
    /*HEADER*/
    
    header{
      padding: 0 3vw 2vw 3vw;
      
    }

    nav {
    margin: auto;
  }
  
  nav ul{
   flex-basis: 100%;  
  }
  
  nav img{
    font-size: 5vw;
    margin:auto; 
    padding-top: 5vw;
    padding-bottom: 1vw; 
    width: 25%;         
  }
  
  .nav-links{  
    flex-basis: 100%;
    text-align: center;
    padding: 5vw;
  }
  
  .nav-links:hover{
    border-top: 2px solid transparent;
    border-bottom: 2px solid #0065FC;
    flex-basis: 100%;
  }

  .nav-links{
    font-size:16px;
  }
  
  
  /*title*/
  
  .title-form-filters-container{
    padding: 3vw;
  }

  .wrapper h1{
    font-size: 21px;
  }
  .wrapper p{
    font-size: 16px;
    margin-top: 10px;
  }
  
  
  /*search form*/
  
  .search-form{
    padding: 15px;
  }
  
  .search-text{
    display: none;
    
  }
  
  .fa-solid.fa-magnifying-glass{
    display: block;
    background-color: inherit;
    border-radius: inherit;
    padding: 20px 15px 20px 15px;
  }

  .search-form i{
    padding: 20px 25px 20px 25px;
  }

  .search-form input{
    padding-left: 25px;
    flex-grow: 1;
    font-size: 20px 
    
  }
 
  .search-form button{
    border-radius: 20px; 
    
  }
  
  
  /*filter section*/
  
  .filters-section{
    padding-top: 20px;
    align-items: center;
  }
  
  .filters-section ul{
    margin-top: 0;
    
  }
  
  .filters-section h2{
    font-size: 16px;
    padding: 15px;
    
  }

  .filters-list{
    font-size: 16px;
    gap: 20px;
  }

  .filters-button{
    border-radius: 50px;
    height: 50px;
  }

  .filters-button span{
    padding: 10px;
  }

  .filters-list .fa-solid {
    width: 50px;
    height: 50px;
  }
  
  .bubble-info .fa-solid{
    font-size: 100%;
    height:100%;
    width:5%;
  }

  .bubble-info span{
    font-size: 14px;
    padding-left: 10px;
  }
  
  }