/* Hebergement list by city */

.appartments-lst {
  display: flex;
  gap: 3%;
  padding: 15px 30px;
  height: 560px;
}

.appartments-lst>div {
  background-color: #F2F2F2;
  border-radius: 15px;
}

.listed-by-city a {
  font-weight: bold;
  text-decoration: none;
  color: black;
}

.show-more p {
  font-size: 16px;
  padding-top: 5%;
}


.listed-by-city {
  flex-basis: 66%;
  padding: 3% 3% 0 3%;
  display: flex;
  flex-direction: column;
}

.listed-by-city h2 {
  margin: 3% 0 0 0;
  font-size: 20px;
}

.city-appartments-box-top{
  display:flex;
  flex-direction: row;
  height: 50%;
  gap:5%;
}

.city-appartments-box-bottom{
  display:flex;
  flex-direction: row;
  height: 50%;
  gap:5%;
}

/* City cards */

.city-appartments {
  display: flex;
  gap: 7%;
  flex-wrap: wrap;
  margin: 3% 0 6% 0;
  height: 60%;
}

.city-cards {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  background-color: white;
  padding: 4px 4px 0 4px;
  flex-basis: 40%;
  box-shadow: 0 0 10px lightgrey;
}

.city-cards:hover {
  cursor: pointer;
  transform: scale(1.01);
}

.city-cards img {
  border-radius: 12px 12px 0 0;
  object-fit: cover;
  width: 100%;
  height: 60%; 
}

.city-cards h3 {
  font-size: 12px;
  margin: 0;
  padding: 2% 0 0 2%;
  
}

.city-cards p {
  font-size: 12px;
  margin: 0;
  padding: 2% 0 1% 2%;
}

.city-cards ul {
  height: 10%;
  margin: 0;
  padding:3% 0 0 2%;
  
}

.city-cards li {
  list-style: none;
  font-size: 10px;
}

.blue {
  color: #0065FC;
}

.gray {
  color: lightgray;
}


/* Hébergement list by popularity */

.popular-appartments {
  display: flex;
  flex-direction: column;
  margin-top: 4%;
  gap:25px;

}

.listed-by-popularity {
  flex-basis: 33%;
  padding: 3% 3% 0 3%;
  display: flex;
  flex-direction: column;
}

.listed-by-popularity h2{
  font-size: 20px;
  margin: 10px 0 12px 0;
}

.listed-by-popularity div {
  display: flex;
  align-items: center;
}

.listed-by-popularity i {
  margin-left: auto;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Popular cards */

.popular-cards {
  display: flex;
  width: 100%;
  border-radius: 15px;
  background-color: white;
  padding: 4px;
  box-shadow: 0 0 10px lightgrey;
  flex-direction: row;
}


.popular-cards:hover {
  cursor: pointer;
  transform: scale(1.01);
}

.listed-by-popularity div {
  align-items: baseline;
}

.popular-cards img {
  border-radius: 12px 0 0 12px;
  width: 40%;
  object-fit: cover;
  height: 120px
}

.popular-cards h3 {
  padding: 10px 0 0 15px;
  font-size: 14px;
  margin: 0;
}

.popular-cards p {
  padding: 0.5rem 0 0 1rem;
  font-size: 12px;
  margin: 0;
}

.popular-cards ul {
  padding: 0 0 10px 15px;
  margin: 0;
}

.popular-cards li {
  list-style: none;
  font-size: 10px;
}

.popular-cards div {
  flex-direction: column;
}


@media screen and (max-width: 992px) {

  /* MAIN */

  .appartments-lst {
    flex-direction: column;
    padding: 1rem 1rem;
    gap: 30px;
    height:auto;
  }


  /* By city */

  .city-appartments-box-top{
    width: 100%;
    height: 200px;
  }

  .city-appartments-box-bottom{
    width: 100%;
    height: 200px;
  }
  .city-appartments {
    flex-direction: row;
    gap: 30px;
  }

  .city-cards img {
    height: 55%;
  }

  .city-cards h3{
    padding-top: 10px;
  }

  .city-cards p{
    padding-bottom: 10px;
  }


  /* By popularity */

  .listed-by-popularity {
    order: -1;
    padding: 3%;
  }

  .popular-appartments {
    flex-direction: row;
    width: 100%;
    margin-top: 10px;
  }

  .popular-cards {
    height: auto;
    width: 33%;
  }

  .popular-cards img {
    border-radius: 15px 0 0 15px;
    width: 40%;
    object-fit: cover;
  }

  .popular-cards h3 {
    font-size: 12px;
    padding: 10px 10px 0 6px;  
  }

  .popular-cards p {
    font-size: 12px;
    padding-left: 10px;
  }
}


@media screen and (max-width: 768px) {

  /* MAIN */

  /* appartments list */

  .appartments-lst>div {
    border-radius: 0;
  }

  .appartments-lst {
    flex-direction: column;
    padding: 0;
  }

  .appartments-lst .listed-by-city {
    background-color: white;
    padding: 0 20px;
  }

  .listed-by-city h2{
    font-size: 20px;
    margin-bottom: 10px;
  }


  /* By city */

  .city-appartments {
    flex-direction: column;
    margin-bottom: 30px;
    gap: 20px;
  }

  .city-cards img {
    height: 100px;
  }

  .city-cards h3 {
    padding: 8px 0 0 15px;
    font-size: 14px;
  }

  .city-cards p {
    padding: 8px 0 0 15px;
    font-size: 12px;
  }

  .city-cards ul {
    padding: 8px 0 10px 15px;
  }

  .city-cards li {
    font-size: 10px;
  }

  .show-more p {
    margin:0;
    padding: 0 0 20px 0;
    font-size: 15px
  }


  /* By popularity */

  .listed-by-popularity h2{
    font-size: 20px;
    margin-bottom: 20px;
  }

  .listed-by-popularity {
    order: -1;
    background-color: #F2F2F2;
    padding: 20px 30px 40px 30px;
  }

  .listed-by-popularity div {
    align-items: baseline;
  }

  .popular-appartments {
    flex-direction: Column;
    gap: 10px;
  }

  .popular-cards {
    height: 120px;
    width: 100%;
    
  }

  .listed-by-popularity i {
    font-size: 10px;
  }

  .star-popular-title i{
    font-size: 15px;
  }

  .popular-cards img {
    height: auto;
    width: 130px;
  }

  .popular-cards h3 {
    font-size: 14px;
    padding-left: 15px
  }

  .popular-cards p {
    padding: 10px 0 0 15px;
    font-size: 12px;
  }

  .popular-cards ul {
    padding: 0 0 10px 15px;
  }
}