@import "header.css";
@import "main-appartments-lst.css";
@import "main-activities.css";
@import "footer.css";

.box {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

* {
  font-family: 'Raleway', sans-serif;
}

.content{
  max-width: 1440px;
  display: block;
  margin: 0 auto;
}