.box {
  box-sizing: border-box;
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box;
}

*{
  font-family: 'Raleway', sans-serif;
}

h1{
  font-size: 21px;
}

/*HEADER*/

nav{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin-bottom: -1rem;
}

nav img{
  margin-right: auto;
  padding: 0 3rem;
  width: 6rem;
}

nav ul{ 
  padding: 0rem;
  list-style: none;
  margin: 0 0 0 0;     
}

nav li{  
  display:flex;
  margin: auto;         
}

.nav-links{
  border: 2px solid transparent;  
  padding: 3rem;
  text-decoration: none;
  color: black;      
}

.nav-links:hover{    
  border-top: 2px solid #0065FC;
  color: #0065FC;    
} 

/*title*/


.title-form-filters-container{
  padding: 0 3rem 0 3rem;
}

.wrapper h1{
  font-size: 21px;
  font-weight: bold;
}

.wrapper p{
  margin-top: -0.5rem;
}


/* search form */

.search-form{ 
  display: flex;    
}

.search-form i{
  padding: 1rem 1.2rem;
  background-color: #F2F2F2;
  border-radius: 1rem 0 0 1rem;     
}

.search-form input{
  display: flex;
  border: 1px solid #F2F2F2;
  padding-left: 1rem;
}

.search-form button{
  background-color: #0065FC;
  border-radius: 0 1rem 1rem 0;
  border: 1px solid #0065FC;
  padding-right: 1.8rem;
  color: #F2F2F2;
  font-weight: bold;
  padding: 0 1rem;
  cursor: pointer;
  
}

.search-form button:hover{
  transform: scale(1.01);
  background-color: blue;
}

.fa-solid.fa-magnifying-glass{
  display: none;
}

.search-form input::placeholder{
  font-weight: bold;
  color: black;
}


/* filters */

.filters-section{
  display: flex;
  padding-top: 1rem;
  font-size: 0.9rem;
  flex-wrap: wrap;
}

.filters-section h2{
  font-size: 1rem;
  padding-top: 1rem;
  align-items: center;
}

.filters-list{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem; 
}

.filters-button{
  border: 2px solid #F2F2F2;
  border-radius: 2rem;
  display: flex;
  align-items: center;    
}

.filters-button:hover{
  background-color:#F2F2F2;
  cursor: pointer;
  transform: scale(1.01);
}

.filters-list .fa-solid{
  background-color: #DEEBFF;
  color: #0065FC;
  border-radius: 50%;
  margin: -2px;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;   
}

.filters-list span{
  font-weight: bold;
  padding-left: 0.9rem;
  margin-right: 1rem;    
}


/*info*/

.bubble-info{
  display: flex;
  align-items: baseline;
  gap: 0.5rem;
  padding-top:1rem;
}

.bubble-info .fa-solid{  
color:#0065FC;
border: 1px solid #F2F2F2;
border-radius: 50%;
padding: 0.2rem 0.4rem ;
font-size: 70%;
}


/* MAIN */

/* Hebergement list by city */

.appartments-lst{
  display: flex;
  gap: 2rem;
  padding: 1rem 3rem;
}

.appartments-lst > div{
  background-color: #F2F2F2;
  border-radius: 1rem;
}

.listed-by-city a{
  font-weight: bold;
  text-decoration: none;
  color: black;
}

.show-more p{
  font-size: 1rem;
}


.listed-by-city{
  flex-basis: 66%;
  padding: 2rem 2rem 0 2rem;
  display:flex;
  flex-direction: column;
}

.listed-by-city h1{
  margin: 1rem 0 0 0;
}




/* City cards */

.city-appartments{
  display:flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  margin: 1.5rem 0 2.5rem 0;
}

.city-cards{
  border-radius: 1rem;
  background-color: white;
  flex-grow: 1;
  padding: 0.3rem 0.3rem 0 0.3rem;
  flex-basis: 25%;
  box-shadow: 0 0 10px lightgrey;
    
}

.city-cards:hover{
  cursor: pointer;
  transform: scale(1.01);
}

.city-cards img{
  border-radius: 1rem 1rem 0 0;
  object-fit: cover;
 
  width:100%;
  height: 7vw;
  flex-grow:1; 
}

.city-cards h3{
  font-size: 1.1vw;
  margin: 0;
  padding: 0.2rem 0 0 0.5rem;
  flex-grow: 1;
}
.city-cards p{
  font-size: 1.1vw;
  margin: 0;
  padding: 0.2rem 0 0.2rem 0.5rem;
}
.city-cards ul{
  margin: 0;
  padding: 0.2rem 0 0.5rem 0.5rem;
}

.city-cards li{
  list-style: none;
  font-size: 0.8vw;
}
.blue{
  color:#0065FC;
}

.gray{
  color:lightgray;
}


/* Hébergement list by popularity */

.popular-appartments{
  display: flex;
  flex-direction: column;
  margin-top: 0.8rem;
  gap: 1.5rem;
}

.listed-by-popularity{
  flex-basis: 33%;
  padding: 2rem 2rem 2rem 2rem; 
  
}

.listed-by-popularity div{
  display: flex; 
  align-items: center; 
}

.listed-by-popularity i{
  margin-left: auto; 
}

.description{
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

/* Popular cards */

.popular-cards{
  display: flex;
  flex-grow:1;
  border-radius: 1rem;
  background-color: white;
  padding: 0.3rem 0 0.3rem 0.3rem;
  box-shadow: 0 0 10px lightgrey;
  flex-direction: row;
  height: 9vw; 
}

.popular-cards:hover{
  cursor: pointer;
  transform: scale(1.01);
}

.listed-by-popularity div{
  align-items: baseline;
}

.popular-cards img{
  border-radius: 1rem 0 0 1rem;
  width: 10vw;
  object-fit: cover;
}

.popular-cards h3{
  padding: 0.5rem 0 0 1rem;
  font-size: 1vw;
  margin: 0;
}
.popular-cards p{
  padding: 0.5rem 0 1.2rem 1rem;
  font-size: 1vw;
  margin: 0;
}

.popular-cards ul{
  padding-left: 1rem;
  margin: 0; 
}

.popular-cards li{
  list-style: none;
  font-size: 0.7vw;
}

.popular-cards div{
  flex-direction: column;
  
}


/* Marseille activities */


.marseille-activities h1{
  margin:2rem 0 1rem 3rem;
  
}
.activities-box{
  display : flex;
  flex-direction: row;
  flex-basis:100%;
  gap:2rem;
}

.activities-cards{
  display: flex;
  flex-direction: row;
  margin:0 3rem 0 3rem;
  gap:2rem;
}

.activities article{
  border-radius: 1rem;
  box-shadow: 0 0 10px lightgrey;
  flex-grow: 1;
  flex-direction: column; 
}

.activities article:hover{
  cursor: pointer;
  transform: scale(1.01);
}

.col2{
  flex-basis: 50%;
}

.col4{
  flex-basis: 50%;
}

.activities h4{
  font-size: 0.7rem; 
  margin: 1rem;
  
}

.large{
  display: flex;
  flex-grow:1;
  height: 24.1rem;
  width: 50%;  
}

.large img{
  width: 100%;
  object-fit: cover;
  height: 21.1rem;
  border-radius: 1rem 1rem 0 0;
}

.col2 .medium{
  margin-bottom: 2rem;
}

.col4 .small{
  margin-bottom: 2rem;
}

.medium{
  height: 12rem;
}

.medium img{
  width: 100%;
  height: 9rem;
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;   
}

.small{
  height: 10rem;
}

.small img{
  
  width: 100%;
  height: 7rem;
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
}


/* Footer */

.footer-section{
  background-color:#F2F2F2;
  display:flex;
  flex-direction: row;
  margin-top: 3rem;
}



.a-propos{
  flex-basis:33%;
  margin: 2.5rem 0 2.5rem 2rem;
}

.nos-hebergements{
  flex-basis:33%;
  margin: 2.5rem 0 2.5rem 2rem;
}

.assistance{
  flex-basis:33%;
  margin: 2.5rem 0 2.5rem 2rem;
}
.footer-section h1{
  font-size: 1rem;

}

.footer-section p{
  font-size: 0.8rem;
  margin: 0.15rem 0 0.5rem 0;

}
  
  



@media screen and (max-width: 992px){

/* MAIN */

.appartments-lst{
  flex-direction: column;
  padding: 1rem 1rem;  
}

.listed-by-popularity{
  order: -1;
}

.city-appartments{
  flex-direction: row;
}

.city-cards img{
  height:10vw;
}

.popular-appartments{
  flex-direction: row;
  width: 100%;
}

.popular-cards{
  height:14vw;
  width: 33%;
}

.popular-cards img{
  border-radius: 1rem 0 0 1rem;
  width: 12vw;
  object-fit: cover; 
}
.popular-cards h3{
  font-size: 1.5vw;
}
.popular-cards p{
 
  font-size: 1.5vw;
}


/* Marseille Activities */

.activities-cards{
  flex-direction: column;
  margin: 1rem;
}

.medium{
  height: 11rem;
}

.medium img{
  width: 100%;
  height: 8rem;
     
}

.small{
  height: 11rem;
}

.small img{
  
  width: 100%;
  height: 8rem;
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
}
}


@media screen and (max-width: 768px){

/*HEADER*/

nav {
  margin: auto;
}

nav ul{
 flex-basis: 100%;  
}

nav img{
  margin:auto; 
  padding-top: 2rem;
  padding-bottom: 1rem;          
}

.nav-links{  
  flex-basis: 100%;
  text-align: center;
  padding: 1rem
}

.nav-links:hover{
  border-top: 2px solid transparent;
  border-bottom: 2px solid #0065FC;
  flex-basis: 100%;
}


/*title*/

.title-form-filters-container{
  padding: 1rem 1rem 1rem 1rem;
}


/*search form*/

.search-form{
  padding-top: 1rem;
}

.search-text{
  display: none;
}

.fa-solid.fa-magnifying-glass{
  display: block;
  background-color: inherit;
  padding: 0;  
}

.search-form input{
  flex-grow: 1; 
  width:50%;
  margin-right: -2rem;
} 

.search-form button{
  border-radius: 1rem 1rem 1rem 1rem; 
}


/*filter section*/

.filters-section{
  padding-top: 0;
}

.filters-section ul{
  padding-left: 0%;
  margin-top: 0;
}

.animal-filter{
  width: 142px
}


/* MAIN */

/* appartments list */

.appartments-lst > div{
  border-radius: 0;
}

.appartments-lst{
  flex-direction: column;
  padding: 1rem 0 0 0;
  
}

.appartments-lst .listed-by-city{
  background-color: white;
  padding: 0 2rem 0 2rem;
}

/* By city */

.city-appartments{
  flex-direction: column;
}

.city-cards img{
  height: 27vw;
}

.city-cards h3{
  padding: 1rem 0 0 1rem;
  font-size: 4vw;
}
.city-cards p{
  padding: 0.5rem 0 0.5rem 1rem;
  font-size: 3vw;
}
.city-cards ul{
  padding: 0.5rem 0 1rem 1rem;
}

.city-cards li{
  font-size: 2.5vw;
}

.show-more p{
  margin:0;

}


/* By popularity */

.listed-by-popularity{
  order: -1;
  background-color: #F2F2F2;
}

.listed-by-popularity div{
  align-items: baseline;
}

.popular-appartments{
  flex-direction: Column;
}

.popular-cards{
  height:30vw;
  width: 100%;
  
}

.popular-cards img{
  height: auto;
  width: 35vw;
}

.popular-cards h3{
  font-size: 4vw;
  padding-left: 2rem
}

.popular-cards p{
  padding: 0.5rem 0 0 2rem;
  font-size: 3.5vw;
}

.popular-cards li{
  font-size: 2.5vw;
  padding: 0 0 0.5rem 1rem;
}

/* Marseille activities */

.marseille-activities h1{
  margin: 3rem 0 1rem 2rem;
}
.activities-cards{
  margin: 1rem 2rem 0 2rem;
}

.activities-box{
  flex-direction: column;
}

.activities article img{
  height: 27vw;
}

.activities article{
  height: 38vw;
}

.activities-cards h4{
  font-size: 3.5vw;
  margin: 3vw;
}

.large{
  width:100%
}

/* Footer */

.footer-section{
  flex-direction: column;
}

.footer-section h1{
  font-size:4vw;
}

.footer-section p{
  font-size:3vw;

}

.a-propos{
  margin:2rem 0 0 2rem;
}

.nos-hebergements{
  margin:1rem 0 0 2rem;
}

.assistance{
  margin: 1rem 0 2rem 2rem;
}
}
